/* Variáveis Globais do Nosso Projeto */

:root {
  --cor-primaria: #4e1d6d;
  --cor-secundaria: #d22365;
  --cor-secundaria-offset: #7e1f6a;
  --cor-highlight: #291d6d;
  --cor-cinza-escuro: #424242;
  --cor-cinza-claro: #858585;
  --cor-cinza-offcolor: #acacac;
}

/* Barra de Navegação */

#mainNav {
  background-color: var(--cor-highlight) !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    "Apple Color Emoji";
  font-weight: 700;
}

#mainNav .navbar-brand {
  color: #fff;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: var(--cor-secundaria);
}
#mainNav .navbar-nav li.nav-item a.nav.link:active,
#mainNav .navbar-nav li.nav-item a.nav.link:focus {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: var(--cor-secundaria);
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}
#menuBtn {
  background-color: var(--cor-secundaria) !important;
}

/* Responsividade - NAVBAR */

.masthead {
  background-color: var(--cor-primaria);
}

#about {
  background-color: var(--cor-secundaria);
}
